# Next.js
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Supabase
# The URL of your Supabase project (used by the client and server)
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
# The anon key for public, client-side access
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
# The service role key for administrative, server-side access ONLY. NEVER expose to the client.
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
